.wrapper {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.photographer-body {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	width: 90%;
}

.photograph-header {
	background-color: #fafafa;
	height: 300px;
	margin: 0 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px;
}

.photograph-infos h1 {
	color: var(--secondary-color);
}
.photograph-infos h2 {
	color: var(--primary-color);
}

.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
	background-color: var(--secondary-color);
}

.photograph-header img {
	border-radius: 50%;
	object-fit: cover;
	height: 200px;
	width: 200px;
}

.filter-div {
	margin-left: 100px;
	display: flex;
	align-items: center;
	gap: 10px;
	height: 70px;
	margin-top: 15px;
}

.filter-div p {
	font-weight: bold;
}

.dropdown {
	position: relative;
	display: inline-block;
	min-width: 160px;
	overflow: clip;
	border-radius: 5px;
}

.visible {
	overflow: visible;
	z-index: 2;
}

.dropdown li {
	position: relative;
}

.dropdown li::before {
	content: "";
	position: absolute;
	top: 0;
	left: 10px;
	width: 88%;
	height: 1px;
	background-color: white;
}

.dropbtn {
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: var(--primary-color);
	padding: 12px 0 16px 20px;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: var(--secondary-color);
}
.arrow {
	transition: transform 0.3s;
	font-weight: bold;
}

.arrow.rotate {
	transform: rotate(180deg);
}

ul {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 160px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 16px 100px 0 100px;
}

.gallery figure {
	width: 30%;
	margin: 0;
	margin-bottom: 32px;
}

.gallery figure:hover,
.gallery figure:focus {
	scale: 1.02;
}

figure img,
figure video {
	border-radius: 5px;
	width: 100%;
	height: 300px;
	object-fit: cover;
}

figcaption {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

figcaption span {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

figcaption h3 {
	color: var(--primary-color);
}

figcaption span i {
	color: var(--primary-color);
	margin-left: 8px;
}

.modal {
	border-radius: 5px;
	background-color: var(--secondary-color);
	width: 30%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: auto;
	position: relative;
}

.modal header {
	justify-content: space-between;
	width: 100%;
	margin: 0 0 25px 0;
}

.modal header img {
	cursor: pointer;
}

.modal header h2 {
	font-size: 32px;
	font-weight: normal;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form input,
form textarea {
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: none;
	border-radius: 5px;
}

form textarea {
	height: 50px;
	resize: none;
}

.valid {
	outline: 2px solid green;
}

.invalid {
	outline: 2px solid red;
}

#lightbox_modal {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1000px;
	background-color: white;
	border-radius: 5px;
}

.lightboxContent {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
}

.lightboxContent img,
.lightboxContent video {
	width: 80%;
	height: 80%;
}

#lightboxCaption {
	color: var(--primary-color);
	font-size: 1em;
	align-self: flex-start;
	margin-left: 100px;
}

span i:hover,
span i:focus {
	color: var(--secondary-color);
}

.liked {
	color: var(--secondary-color);
}

#prevBtn,
#nextBtn,
#closeBtn {
	z-index: 2;
	position: absolute;
	top: 50%;
	padding: 5px;
	border: none;
	background: none;
}

.chevron,
#closeBtn {
	font-size: 3em;
	color: var(--primary-color);
	cursor: pointer;
}

#prevBtn {
	left: 1em;
}

#nextBtn {
	right: 1em;
}

#closeBtn {
	top: 25px;
	right: 25px;
}

aside {
	position: sticky;
	bottom: 0;
	left: 100%;
	width: fit-content;
	display: flex;
	align-items: center;
	height: 50px;
	gap: 50px;
	padding: 5px 15px;
	font-size: 1.25em;
	border-radius: 5px;
	background-color: var(--secondary-color);
}

span {
	margin-right: 5px;
}
